body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  height: 2349px;
  background: var(--main-background-color);
  color: var(--main-color-text);
}
.wrapper {
  margin: auto;
}
.top {
  background-color: var(--color-text);
  height: 80px;
  border: 1px solid var(--top-line-color);
}
.logo {
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--font-size-logo);
  width: 145px;
  line-height: 1.19;
}
.logo_part1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--font-size-logo);
  color: var(--background-color-button);
  width: var(--font-size);
}
.logo_part2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--font-size-logo);
  color: var(--logo-color-bottom);
  width: 145px;
  text-decoration: none;
}
.logo_end {
  color: var(--color-text);
  font-weight: 700;
}
.team {
  background-color: var(--color-text);
  line-height: 1.1875;
}
.bottom {
  background-color: var(--background-color-bottom);
}
.bottom p {
  background-color: var(--background-color-bottom);
  color: var(--color-text);
  line-height: 1.71;
}
.title {
  background-color: var(--background-color-bottom);
  height: 600px;
  color: var(--color-text);
}
.main-title {
  font-size: 44px;
  width: 696px;
  height: 120px;
  margin: auto;
  padding: 200px 452px 280px 452px;
  text-align: center;
  line-height: 1.36;
  font-weight: 900;
}
.order {
  width: 200px;
  height: 50px;
  color: var(--color-text);
  background: var(--background-color-button);
  text-align: center;
  margin: 30px 741px 210px 742px;
  font-size: var(--font-size-medium);
  line-height: 1.875;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-style: Bold;
  font-weight: 700;
}
button:focus {
  background-color: var(--background-color-button);
  color: var(--color-text);
}
.link:focus {
  color: var(--background-color-button);
}
button:hover {
  background-color: var(--background-color-button);
  color: var(--color-text);
}
.link {
  text-decoration: none;
  color: var(--main-color-text);
  font-weight: 58px;
  font-size: var(--font-size);
  line-height: 1.14;
  font-weight: 500;
}
button {
  font-size: var(--font-size-medium);
  cursor: pointer;
  line-height: 1.625;
  font-weight: 500;
  font-family: inherit;
}
.link:hover {
  color: var(--background-color-button);
}
.article-title {
  font-size: var(--font-size);
  color: inherit;
  line-height: 1.14;
}
.section-title {
  font-size: 36px;
  color: inherit;
  line-height: 1.166;
}
.text {
  font-size: var(--font-size);
  line-height: 1.71;
}
.name {
  font-size: var(--font-size-medium);
  color: inherit;
  font-weight: 500;
}
.product {
  font-size: var(--font-size-medium);
  color: var(--text-color);
  line-height: 1.875;
}
.bottom-contacts {
  font-size: var(--font-size);
  color: var(--color-text);
}
.job {
  font-size: var(--font-size-medium);
  color: var(--text-color);
  line-height: 1.875;
}
.projects {
  font-size: 18px;
  color: inherit;
  line-height: 2;
  font-weight: 700;
}
:root {
  --text-color: #757575;
  --font-size: 14px;
  --font-size-medium: 16px;
  --font-size-logo: 26px;
  --background-color-button: #2196f3;
  --color-text: #ffffff;
  --background-color-bottom: #2f303a;
  --main-background-color: #ffffff;
  --main-color-text: #212121;
  --logo-color-bottom: #000000;
  --top-line-color: #ececec;
}
.contact {
  color: var(--text-color);
  font-weight: 135px;
  line-height: 1.14;
  font-weight: 500;
}
