*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background: var(--main-background-color);
  color: var(--main-color-text);
}
.wrapper {
  margin: auto;
  justify-content: center;
}
.top {
  background-color: var(--color-text);
  border: 1px solid var(--top-line-color);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.logo {
  padding-top: 24px;
  padding-left: 215px;
  padding-bottom: 25px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--font-size-logo);
  width: 145px;
  line-height: 1.19;
}
.logo_part1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--font-size-logo);
  color: var(--background-color-button);
  width: var(--font-size);
}
.logo_part2 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--font-size-logo);
  color: var(--logo-color-bottom);
  width: 145px;
  text-decoration: none;
}
.logo_end {
  color: var(--color-text);
  font-weight: 700;
}
.team {
  background-color: var(--color-text);
  line-height: 1.1875;
}
.bottom {
  background-color: var(--background-color-bottom);
}
.bottom p {
  background-color: var(--background-color-bottom);
  color: var(--color-text);
  line-height: 1.71;
}
.title {
  background-color: var(--background-color-bottom);
  height: 600px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-size: 44px;
  width: 696px;
  margin: 0 auto;
  padding-top: auto;
  text-align: center;
  line-height: 1.36;
  font-weight: 900;
}
.order {
  width: 200px;
  height: 50px;
  color: var(--color-text);
  background: var(--background-color-button);
  text-align: center;
  font-size: var(--font-size-medium);
  line-height: 1.875;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-style: Bold;
  font-weight: 700;
  border-radius: 4px;
  display: block;
  margin: 0;
}

button:focus {
  background-color: var(--background-color-button);
  color: var(--color-text);
}
.link:focus {
  color: var(--background-color-button);
}
button:hover {
  background-color: var(--background-color-button);
  color: var(--color-text);
}
.link {
  text-decoration: none;
  color: var(--main-color-text);
  font-weight: 58px;
  font-size: var(--font-size);
  line-height: 1.14;
  font-weight: 500;
  padding-right: 46px;
  display: block;
  list-style-type: none;
}
.link-top {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-weight: 58px;
  font-size: var(--font-size);
  line-height: 1.14;
  display: block;
}
button {
  font-size: var(--font-size-medium);
  cursor: pointer;
  line-height: 1.625;
  font-weight: 500;
  font-family: inherit;
}
.link:hover {
  color: var(--background-color-button);
}
.article-title {
  font-size: var(--font-size);
  color: inherit;
  line-height: 1.14;
}
.section-title {
  font-size: 36px;
  color: inherit;
  line-height: 1.166;
  padding-bottom: 50px;
  text-align: center;
}
.text {
  font-size: var(--font-size);
  line-height: 1.71;

  gap: 30px;
}
.name {
  font-size: var(--font-size-medium);
  color: inherit;
  font-weight: 500;
}
.product {
  font-size: var(--font-size-medium);
  color: var(--text-color);
  line-height: 1.875;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 4px;
}
.bottom-contacts {
  font-size: var(--font-size);
  color: var(--color-text);
}
.job {
  font-size: var(--font-size-medium);
  color: var(--text-color);
  line-height: 1.875;
}
.projects {
  font-size: 18px;
  color: inherit;
  line-height: 2;
  font-weight: 700;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
}
:root {
  --text-color: #757575;
  --font-size: 14px;
  --font-size-medium: 16px;
  --font-size-logo: 26px;
  --background-color-button: #2196f3;
  --color-text: #ffffff;
  --background-color-bottom: #2f303a;
  --main-background-color: #ffffff;
  --main-color-text: #212121;
  --logo-color-bottom: #000000;
  --top-line-color: #ececec;
  --color-border-product: #eeeeee;
}
.contact {
  color: var(--text-color);
  font-weight: 135px;
  line-height: 1.14;
  font-weight: 500;
  display: flex;
  padding-right: 227px;
  gap: 50px;
  padding-bottom: 32px;
  list-style-type: none;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 46px;
  padding-right: 364px;
  padding-left: 93px;
  padding-bottom: 32px;
  list-style-type: none;
}
.text-box {
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
  justify-content: center;
}
.description {
  display: block;
  padding-bottom: 94px;
}
.activites {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-right: 30px;
  padding-left: 215px;
  padding-bottom: 94px;
}
.team-photos {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.button-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 94px 518px 34px 510px;
  list-style-type: none;
}
.line-top {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  gap: 30px;
  list-style-type: none;
}
.line-center {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}
.line-bottom {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
  list-style-type: none;
}
.product-description {
  border: 1px solid var(--color-border-product);
  border-top: 0px;
  align-items: flex-start;
}
.bottom-link {
  list-style-type: none;
}
.container {
  width: 1200px;
}
